* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif
}

body {
  margin: 0;
  padding: 0;
}

.screen {
  display: flex;
}

.leftside {
  flex: 1
}

.leftside img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.rightside {
  width: 550px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rightside form {
  width: 70%;
}

.rightside label {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  justify-content: center;
  align-items: center;
}

.rightside input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #999;
  border-radius: 3px;
  padding: 10px;
  font-size: 14px;
  outline: 0;
}

input[type='submit'] {
  background-color: #583671;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  width: 80%;
  margin-top: 40px;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.error {
  width: 100%;
  font-size: 11px;
  background-color: rgb(228, 42, 42);
  color: white;
  padding: 4px;
  border-radius: 0px 0px 5px 5px;
}